/* Zoom in and out animation for the side image */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Zoom in */
  }
  100% {
    transform: scale(1);
  }
}

.side-image {
  animation: zoom 4s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}
